@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
